.hero-section {
  background-image: url("../img/herobg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 50px;
  height: 80vh;
}

.hero-title {
  font-size: 60px;
}

input {
  box-shadow: none !important;
}

.search-preference-section {
  background-image: url("../img/search.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.search-select {
  height: 40px !important;
  border: 1px solid #355df3;
  border-radius: 50px !important;
  font-weight: 600;
  margin-top: -11px;
  color: #4f64b3 !important;
}

.search-select option {
  color: #000000 !important;
}

.search-btn {
  height: 40px !important;
  background: #b1bfff;
  color: #172e84 !important;
  /* background-image: linear-gradient(
    to right,
    #172e84,
    #172e84,
    #172e84,
    #ffffff
  ); */
  /* border: 1px solid #355df3; */
  border-radius: 50px !important;
  font-weight: 600;
  margin-top: -11px;
}

.recent-jobs-section {
  background-image: url("../img/jobboard.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.featured-companies-section {
  background-color: #ffffff;
}

.company-logo {
  transition: transform 0.2s;
}

.company-logo:hover {
  transform: scale(1.15);
}

.testinomial-section {
  background-image: url("../img/testimonials.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.testimonial-image-section {
  position: relative;
  text-align: center;
}

.testinomial-image {
  max-width: 500px;
  border: 1px solid #e4eaff;
  transition: transform 0.1s;
  transform: scale(1);
}

.testinomial-image:hover {
  transform: scale(1.05);
}

.testinomial-1 {
  margin-left: 150px;
  margin-top: 0px;
}

.testinomial-2 {
  margin-left: 0px;
  margin-top: -70px;
}

.testinomial-3 {
  margin-left: 400px;
  margin-top: -100px;
}

.testinomial-4 {
  margin-left: 100px;
  margin-top: -100px;
}

.blog-section {
  background-image: url("../img/blogs.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.contact-form-section {
  background-image: url("../img/contact.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.input-box {
  height: 60px !important;
  max-height: 70px !important;
  border: 3px solid #355df3;
  border-radius: 50px !important;
  font-weight: 600;
}

.submit-btn {
  width: 80% !important;
  margin: 0 auto;
  text-align: center;
}

.social-auth {
  height: 60px;
  font-size: 20px;
  border: none;
  background-color: #e4eaff;
  font-weight: 500;
}

.footer {
  background-image: url("../img/footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* margin-top: -70px !important; */
  padding-top: 120px;
}

.signup-bg {
  min-height: 100vh;
  background-image: url("../img/sign-up.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.signin-bg {
  min-height: 100vh;
  background-image: url("../img/sign-in.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.profile-step {
  min-height: 100vh;
  /* background-image: url("../img/background.jpg"); */
  background-image: url("../img/new-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.jobsearch {
  min-height: 100vh;
  background-image: url("../img/new-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.jobsearch-section {
  min-height: 100vh;
}

.job-search-side-card {
  background: #ffffff;
}

.profile {
  min-height: 100vh;
  background-image: url("../img/new-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.profile-section {
  min-height: 100vh;
}

input:focus {
  outline: none;
}

.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.dropdown-item:active {
  background-color: rgb(237, 62, 97);
}

.footer-link {
  line-height: 40px;
}

.btn-hover-pink-fill {
  background-color: #ffffff !important;
  color: rgb(237, 62, 97) !important;
  border: 1px solid rgb(237, 62, 97);
  padding: 7px 40px !important;
}

.btn-hover-pink-fill:hover {
  background-color: rgb(237, 62, 97) !important;
  color: #ffffff !important;
  border: 1px solid #ffffff;
}

.btn-hover-pink:hover {
  color: rgb(237, 62, 97) !important;
  background-color: #ffffff !important;
  border: 1px solid rgb(237, 62, 97);
}

.text-hover-pink:hover {
  color: rgb(237, 62, 97) !important;
}

.bg-hover-pink:hover {
  background-color: rgb(237, 62, 97) !important;
  color: #ffffff !important;
}

.btn-hover-white:hover {
  color: #000000 !important;
  background-color: #e4eaff !important;
  border: 1px solid #000000 !important;
}

.btn-hover-blue:hover {
  color: #355df3 !important;
  background-color: #e4eaff !important;
  border: 1px solid #355df3 !important;
}

.btn-hover-yellow:hover {
  color: #000000 !important;
  background-color: #ffffff !important;
  border: 1px solid #ffc107 !important;
}

.select-height-45 {
  height: 43px;
}

.bg-pink {
  background-color: rgb(237, 62, 97) !important;
  color: #ffffff !important;
}

.guideline-text {
  color: rgb(237, 62, 97);
  font-weight: bold;
}

.postjob-section {
  min-height: 100vh;
  background-image: url("../img/new-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.targeting-section {
  min-height: 100vh;
  background-image: url("../img/new-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.recruiter-dahboard-section {
  min-height: 100vh;
  background-image: url("../img/new-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.text-pink {
  color: rgb(237, 62, 97) !important;
}

.contact-img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.card-height {
  min-height: 750px;
}

.card-margin-x {
  margin: 0 100px !important;
}

@media (max-width: 959px) {
  .card-height {
    min-height: 100%;
  }
}
@media (max-width: 584px) {
  .hero-title {
    font-size: 36px;
  }
  .input-box {
    height: 45px !important;
  }
  .search-preference-section {
    background-image: url("../img/search.png");
  }
  .recent-jobs-section {
    background-image: url("../img/jobboard.png");
  }
  .blog-section {
    background-image: url("") !important;
  }
  .contact-form-section {
    background-image: url("../img/contact.png");
  }
  .signup-bg {
    background-image: url("../img/sign-up.png");
  }
  .signin-bg {
    background-image: url("../img/sign-in.png");
  }
  .profile-step {
    /* background-image: url("../img/background.jpg"); */
    background-image: url("../img/new-background.png");
  }
  .jobsearch {
    background-image: url("../img/new-background.png");
  }
  .testinomial-section {
    background-image: url("") !important;
  }
  .profile {
    background-image: url("");
  }
  .postjob-section {
    background-image: url("../img/new-background.png");
  }
  .targeting-section {
    background-image: url("../img/new-background.png");
  }
  .recruiter-dahboard-section {
    background-image: url("../img/new-background.png");
  }
  .footer {
    padding-top: 100px;
  }
  .border-none {
    border: none !important;
  }
  .card-height {
    height: 100%;
  }
  .card-margin-x {
    margin: 0 !important;
  }

  .testinomial-image div p {
    font-size: 12px;
  }

  .testinomial-1 {
    margin-left: 50px;
    margin-top: 0px;
  }

  .testinomial-2 {
    margin-left: 0px;
    margin-top: -70px;
  }

  .testinomial-3 {
    margin-left: 80px;
    margin-top: -150px;
  }

  .testinomial-4 {
    margin-left: 50px;
    margin-top: -70px;
  }
}
